.landing-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    background: linear-gradient(to bottom, var(--colour-backgroundgradient1), var(--colour-backgroundgradient2));
    color: var(--colour-text);
    font-family: var(--font-body);
    padding: 0 60px 72px 60px;
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 160px 24px;
}

.main-title {
    font-size: 7rem;
    line-height: 1;
    color: var(--colour-title);
    margin: 0;
}

.main-subtitle {
    font-size: 1.3rem;
    padding-top: 8px;
    margin: 0;
    color: var(--colour-title);
}

.main-navigation {
    padding-top: 44px;
    gap: 16px;
    display: flex;
}

.main-button {
    padding: 12px 24px;
    border-radius: 4px;
    background-color: var(--colour-background);
    color: var(--colour-primary);
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid var(--colour-secondary);
    font-family: inherit;
}

.main-button:hover {
    background-color: var(--colour-button-hover);
}

.gif-video {
    width: 100%;
    border: 2px solid var(--colour-border);
    border-radius: 8px 8px 0 0;
}

.video-figure {
    width: 40%;
    margin: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-caption {
    width: 100%;
    padding: 4px 4px;
    font-size: 0.9rem;
    color: var(--colour-text);
    background-color: var(--colour-surface-browser);
    border: 2px solid var(--colour-border);
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.landing-footer {
    margin-top: auto;
    width: 100%;
    padding: 14px 0;
    text-align: center;
    font-size: 0.85rem;
    color: var(--colour-title);
    background-color: var(--colour-backgroundgradient1);
    display: flex;
    justify-content: center;
    gap: 192px;
}

.landing-footer p {
    margin: 0;
}

.landing-footer a {
    color: var(--colour-title);
    text-decoration: none;
}

.landing-footer a:hover {
    text-decoration: underline;
}