.landing-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--colour-background);
    background: linear-gradient(to bottom, var(--colour-backgroundgradient1), var(--colour-backgroundgradient2));
    color: var(--colour-text);
    font-family: var(--font-body);
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 160px 0;
}

.main-title {
    font-size: 7rem;
    line-height: 1;
    color: var(--colour-primary);
    margin: 0;
}

.main-subtitle {
    font-size: 1.3rem;
    padding-top: 8px;
    margin: 0;
}

.thumbnail {
    border-radius: 8px;
    border: 2px solid var(--colour-border);
    width: 300px;
}

.browser {
    background-color: #252525;
    flex: 1;  
}

.main-navigation {
    padding-top: 44px;
    gap: 16px;
    display: flex;
}

.main-button {
    padding: 12px 24px;
    border-radius: 4px;
    background-color: var(--colour-background);
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid var(--colour-secondary);
    font-family: inherit;
}

.main-button:hover {
    background-color: var(--colour-button-hover);
}

.world-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    list-style: none;
    padding: 6px;
}

.world-list-item {
    border: 2px solid var(--colour-border);
    border-radius: 8px;
    padding: 4px 8px;
    display: flex;
}

.world-list-item-body {
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
}

.world-list-item-title {
    margin: 6px 0 2px 0;
}

.world-list-item-actions {
    display: flex;
    gap: 12px;
    margin-top: auto;
}

.world-list-item-button:hover {
    background-color: var(--colour-button-hover);
}

.world-list-item-button {
    padding: 4px 24px;
    border-radius: 4px;
    border: 1px solid var(--colour-border);
    background-color: #3d4147;
    color: var(--colour-primary);
    font-size: 0.9rem;
    cursor: pointer;
    font-family: inherit;
}

.play-setup-modal {
    width: 700px;
    height: 850px;
}

.modal::backdrop {
    backdrop-filter: blur(4px);
    background: rgba(58, 58, 58, 0.3);
}

.modal-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
    flex: 1;          
    min-height: 0;  
    margin-bottom: 20px; 
}

.modal-component {
    padding: 2px;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.modal {
    background-color: var(--colour-modal-background);
    color: white;
    border-color: #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.modal-title-caption {
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    color: #808080;
}

.modal-title {
    margin-top: 0;
    line-height: 1;
    font-size: 2.4rem;
}

.modal-text {
    flex: 1;      
    width: 100%;
    box-sizing: border-box;
    margin: 4px 0 0 0;
    resize: none;   
    background-color: #3d4147; 
    color: white;
    font-family: var(--font-body); 
    font-size: 0.9rem;
    padding: 6px;
}

.modal-actions {
    display: flex;
    gap: 16px;
    margin-top: auto;
    justify-content: center;
}

.modal-actions button {
    width: 50%;
    background-color: #cecdcd;
    border-color: #757575;
}

.modal-actions button:hover {
    background-color: #acacac;
}
