.worldbuilder-window {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: auto;
    border: 1px solid black;
    padding: 5px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    min-height: 0; 
}

.brush-details {
    background-color: #c7c6c6;
    border: 1px solid black;
    padding: 5px;
}

.palette-display {
    display: flex
}

.palette-entry {
    display: flex;
    align-items: center;
}

.colour-preview-small {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.checkerboard {
    background-image:
        conic-gradient(#ccc 25%, transparent 0 50%, #ccc 0 75%, transparent 0),
        linear-gradient(#fff 0 0);
    background-size: 15px 15px, auto;
}

.erase-button {
    font-weight: bold;
    font-size: 26px;
    display: flex;
    align-items: center;
    color: red;
}

.elevation-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.region-entry {
    display: flex;
    align-items: center;
    gap: 5px;
}

.settings-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}