.landing-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--colour-background);
    background: linear-gradient(to bottom, var(--colour-backgroundgradient1), var(--colour-backgroundgradient2));
    color: var(--colour-text);
    font-family: var(--font-body);
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 160px 0;
}

.main-title {
    font-size: 7rem;
    line-height: 1;
    color: var(--colour-title);
    margin: 0;
}

.main-subtitle {
    font-size: 1.3rem;
    padding-top: 8px;
    margin: 0;
    color: var(--colour-title);
}

.main-navigation {
    padding-top: 44px;
    gap: 16px;
    display: flex;
}

.main-button {
    padding: 12px 24px;
    border-radius: 4px;
    background-color: var(--colour-background);
    color: var(--colour-primary);
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid var(--colour-secondary);
    font-family: inherit;
}

.main-button:hover {
    background-color: var(--colour-button-hover);
}

