.play-setup-modal {
    width: 1800px;
    max-height: 850px;
    height: 100%;
}

.modal::backdrop {
    backdrop-filter: blur(4px);
    background:  var(--colour-modal-backdrop);
}

.modal-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
    flex: 1;          
    min-height: 0;  
    margin-bottom: 20px; 
}

.modal-container-left {
    display: grid;
    grid-template-rows: 2fr 3fr;
    gap: 20px;
    min-height: 0;
}

.modal-container-vertical {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 0;
}

.modal-container-right {
    display: grid;
    grid-template-rows: 2fr 4fr;
    min-height: 0;
}

.modal-container-three {
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    min-height: 0;
}

.modal-component {
    padding: 2px;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.modal {
    background-color: var(--colour-modal-background);
    color: var(--colour-primary);
    border-color: var(--colour-border-strong);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.modal-caption {
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    color: var(--colour-caption);
}

.modal-title {
    margin-top: 0;
    line-height: 1;
    font-size: 2.4rem;
}

.modal-text {
    flex: 1 1 auto;      
    width: 100%;
    box-sizing: border-box;
    margin: 4px 0 0 0;
    background-color: var(--colour-background); 
    color: var(--colour-primary);
    resize: none;
    font-family: var(--font-body); 
    font-size: 0.9rem;
    padding: 6px;
}


.modal-text.variable-height {
    flex: 1 1 auto;
    min-height: 0;
}

.modal-text.reasoning {
    max-height: 14vh;
    font-size: 0.8rem;
    color: var(--colour-muted-light);
}

.modal-actions {
    display: flex;
    gap: 16px;
    margin-top: auto;
    justify-content: center;
    flex-shrink: 0;
}

.modal-actions button {
    width: 50%;
    background-color: var(--colour-control-background);
    border-color: var(--colour-control-border);
    color: var(--colour-primary);
}

.modal-actions button:hover {
    background-color: var(--colour-control-hover);
}

input,button {
    font-family: var(--font-body)
}

.modal-content button {
    background-color: var(--colour-control-background);
    border-color: var(--colour-control-border);
    border-radius: 3px;
    color: var(--colour-primary);
}

.modal-content button:hover {
    background-color: var(--colour-control-hover);
}


.list-item.horizontal input:first-child { flex: 1; }
.list-item.horizontal input:last-child { flex: 0 0 60px; }

.modal-container-even {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    height: 100%;
    min-height: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

