.play-setup-modal {
    width: 1800px;
    max-height: 850px;
    height: 100%;
}

.modal::backdrop {
    backdrop-filter: blur(4px);
    background: rgba(58, 58, 58, 0.3);
}

.modal-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
    flex: 1;          
    min-height: 0;  
    margin-bottom: 20px; 
}

.modal-container {
    display: grid;
    grid-template-rows: 2fr 3fr;
    gap: 20px;
    min-height: 0;
}

.modal-container-vertical {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 0;
}

.modal-container-2 {
    display: grid;
    grid-template-rows: minmax(0, 1fr) auto minmax(0, 1fr);
    min-height: 0;
}

.modal-component {
    padding: 2px;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.modal {
    background-color: var(--colour-modal-background);
    color: white;
    border-color: #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.modal-caption {
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    color: #808080;
}

.modal-title {
    margin-top: 0;
    line-height: 1;
    font-size: 2.4rem;
}

.modal-text {
    flex: 1;      
    width: 100%;
    box-sizing: border-box;
    margin: 4px 0 0 0;
    resize: none;   
    background-color: #3d4147; 
    color: white;
    font-family: var(--font-body); 
    font-size: 0.9rem;
    padding: 6px;
}


.modal-text.variable-height {
    flex: 0 1 auto;
    max-height: 50%;
    min-height: 40%;
}

.modal-text.reasoning {
    max-height: 14vh;
    font-size: 0.8rem;
    color: #b3b3b3;
}

.modal-actions {
    display: flex;
    gap: 16px;
    margin-top: auto;
    justify-content: center;
    flex-shrink: 0;
}

.modal-actions button {
    width: 50%;
    background-color: #3b3b3b;
    border-color: #c4c4c4;
    color: white;
}

.modal-actions button:hover {
    background-color: #575757;
}

input,button {
    font-family: var(--font-body)
}

.modal-content button {
    background-color: #3b3b3b;
    border-color: #c4c4c4;
    border-radius: 3px;
    color: white;
}

.modal-content button:hover {
    background-color: #575757;
}

.character-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    flex: 1;
    min-height: 0;
    padding-top: 10px;
}

.character-container {
    background-color: var(--colour-modal-background);
    border: 3px solid rgb(155, 154, 154);
    border-radius: 8px;
    padding: 10px 10px 0 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.list-item .remove {
    background-color: var(--colour-modal-background);
    color: white;
}

.list-item.horizontal {
  display: flex;
  gap: 8px;
}

.stat-list {
    list-style: none;
    padding-left: 0;
}

.stat-list-item {
    display: flex;
}

.stat-list-name {
    flex: 20;
    background-color: #3d4147;
    color: white;
}

.stat-list-value {
    flex: 3;
    background-color: #3d4147;
    color: white;
    min-width: 0;
}

.stat-list-remove {
    flex: 1;
    background-color: var(--colour-modal-background);
    color: white;
}

.inventory-list {
    list-style: none;
    padding-left: 0;
    margin: 10px 2px 4px 2px;
}

.inventory-list-item {
    display: flex
}

.inventory-list-name {
    flex: 20;
    background-color: #3d4147;
    color: white;
}

.inventory-list-remove {
    flex: 1;
    background-color: var(--colour-modal-background);
    color: white;
}

.list-item.horizontal input:first-child { flex: 1; }
.list-item.horizontal input:last-child { flex: 0 0 60px; }

.modal-container-even {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    height: 100%;
    min-height: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.world-setup-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 0
}

.location-hidden-context {
    font-size: 0.85em;
    font-style: italic;
}